@page "/ShowU"
@using Models2
@using DBL2
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="content">

        <h1 class="header">All Users</h1> 
        <center >

            @if (ps == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <div class ="table-container">
                    <table class="user-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Password</th>
                            <th>Group`s Name</th>
                            <th>Admin</th>
                            <th>Date Joined</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ps)
                        {
                            <tr>
                                <td>@item.id</td>
                                <td>@item.firstName</td>
                                <td>@item.lastName</td>
                                <td>@item.emailaddress</td>
                                <td>@item.phonenumber</td>
                                <td>@item.password</td>
                                @if (item.groupname != "" && item.groupname != null)
                                {
                                    <td>
                                        <a href="ShowG/@item.groupname">@item.groupname</a>
                                    </td>
                                   
                                }
                                else
                                {
                                    <td>@item.groupname</td>
                                }                                                           
                                <td>@item.isadmin</td>
                                <td>@item.datejoined</td>
                            </tr>
                        }

                    </tbody>
                </table>
                </div>
            }



        </center>
    </div>


<style>
    .header {
        text-align: center;
        margin-bottom: 20px; /* מרווח בין הכותרת לטבלה */
    }

    .table-container {
        margin-top: 20px; /* מרווח נוסף לטבלה */
        overflow-x: auto; /* גלילה אופקית עבור טבלאות רחבות */
    }

    .user-table {
        width: 100%;
        border-collapse: collapse;
    }

        .user-table th, .user-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
</style>


@code {
    List<Trainer> ps;
    protected override async Task OnInitializedAsync()
    {
        TrainerDB pdb = new TrainerDB();
        ps = (List<Trainer>)await pdb.GetAllAsync();
    }
    Trainer c = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var name = await MySession.GetAsync<Trainer>("Trainer");
            if (name.Success && name.Value.isadmin == "true")
            {
                c = name.Value;
                StateHasChanged();
            }
            else
                navigationManager.NavigateTo("/");
        }
    }

}

