@page "/p"
@using Models2
@using DBL2
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IJSRuntime js

@if (c != null || coach != null)
{
    <section >
        <div class="container">
            <div class="content">

                @if (c != null)
                {
                    <div>
                        <h1>@c.firstName   @c.lastName</h1>
                       
                            <h2> Email: @c.emailaddress </h2>
                            @if (!showPass)
                            {
                                <h2>  Password: @password </h2>
                                string tmp1 = "Show new Password ";
                                @tmp1 <input type="checkbox" name="mycheckbox1" id="upd_user_check1" @onclick=" ShowPass" />
                                <br>
                            }
                            else
                            {
                                <h2>  Password: @c.password </h2>
                                string tmp1 = "Show new Password ";
                                @tmp1 <input type="checkbox" name="mycheckbox1" id="upd_user_check1" checked="checked" @onclick="ShowPass" />
                                <br>
                            }
                            @if (c.groupname != ""&&c.groupname !=null)
                            {
                                <h2> Group Name :<a href="ShowG/@c.groupname">@c.groupname</a></h2>
                            }


                            <h2>Date Joined : @c.datejoined</h2>
                            <h3>
                                Phone Number : @c.phonenumber
                                @if (c.isadmin == "true")
                                {
                                    <h3>Admin</h3>
                                    <a href="/ShowU">View All Users</a>
                                }

                            </h3>

                        
                        <div>
                        </div>
                    </div>

                    <div>
                        <h2 >Edit Yourself</h2>
                        <label for="inputName" >Name</label>
                        <input @bind-value="Name" type="text" class="form-control m-1" placeholder="Name">

                        <label for="inputEmail" >Email address</label>
                        <input @bind-value="Email" type="text" class="form-control m-1" placeholder="Email">

                        <label>Password</label>
                        <input @bind-value="Password" type="text" class="form-control m-1" placeholder="Password">

                        <button class="button" @onclick="doEditUser" >Update</button>
                        
                    </div>
                }
                else
                {
                    <div >
                        <h1 >@coach.firstName   @coach.lastName</h1>
                        
                            <h2>
                                Email: @coach.emailaddress
                            </h2>
                            @if (!showPass)
                            {
                                <h2>  Password: @password </h2>
                                string tmp1 = "Show new Password ";
                                @tmp1 <input type="checkbox" name="mycheckbox1" id="upd_user_check1" @onclick=" ShowPass" />
                                <br>
                            }
                            else
                            {
                                <h2>  Password: @coach.password </h2>
                                string tmp1 = "Show new Password ";
                                @tmp1 <input type="checkbox" name="mycheckbox1" id="upd_user_check1" checked="checked" @onclick="ShowPass" />
                                <br>
                            }
                            <h2>
                                Sport: @coach.sport<br />Experience: @coach.exp Years
                            </h2>
                            @if (coach.groupname != "")
                            {
                                <h2> Group Name :<a href="ShowG/@(coach.groupname)">@coach.groupname</a></h2>
                            }
                            <h3>
                                Phone Number : @coach.phonenumber


                            </h3>

                        
                        
                    </div>

                    <div>
                        <h2 >Edit Yourself</h2>
                        <label for="inputName">Name</label>
                        <input @bind-value="Name" type="text"  placeholder="Name">

                        <label for="inputEmail" >Email address</label>
                        <input @bind-value="Email" type="text" placeholder="Email">

                        <label >Password</label>
                        <input @bind-value="Password" type="text" placeholder="Password">
                        <button class="button" @onclick="doEditCoach" type="submit">Update</button>

                        <br /> 
                    </div>
                }

                <button class="remove" @onclick="Logout">Log out of your Account</button>
                


            </div>
        </div>
    </section>

}
@code {
    private string Name = "";
    private string Email = "";
    private string Password = "";
    private string password = "*******";
    bool showPass = false;

    Trainer c = null;
    Coach coach = null;
    TrainerDB userDB = new TrainerDB();
    void ShowPass()
    {
        showPass = !showPass;
    }
    bool CoachorUser(Trainer c, Coach ch)
    {
        if (c == null && ch != null)
        {
            return false;
        }
        else
        {
            return true;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {


            var name = await MySession.GetAsync<Trainer>("Trainer");
            if (name.Success)
            {
                c = name.Value;
                StateHasChanged();
            }


            var name1 = await MySession.GetAsync<Coach>("Coach");
            if (name1.Success)
            {
                coach = name1.Value;
                StateHasChanged();
            }



            if (c == null && coach == null)
            {
                navigationManager.NavigateTo("/login");
            }

        }
    }
    async Task doEditUser()
    {

        if (Name == "")
        {
            Name = c.firstName;
        }
        if (Email == "")
        {
            Email = c.emailaddress;
        }
        if (password == "")
        {
            Password = c.password;
        }

        c.firstName = Name;
        c.emailaddress = Email;
        c.password = Password;



        int n = await userDB.UpdateAsyncWithoutGroup(c);
        if (n > 0)
        {
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
            await MySession.SetAsync("Trainer", c);
            var name = await MySession.GetAsync<Trainer>("Trainer");
            if (name.Success)
            {
                c = name.Value;
                StateHasChanged();
            }

        }
        else
        {
            await js.InvokeVoidAsync("alert", $"Update failed!");



        }

    }
    async Task doEditCoach()
    {
        CoachDB CoachDB = new CoachDB();

        if (Name == "")
        {
            Name = coach.firstName;
        }
        if (Email == "")
        {
            Email = coach.emailaddress;
        }
        if (password == "")
        {
            password = coach.password;
        }

        coach.firstName = Name;
        coach.emailaddress = Email;
        coach.password = Password;


        int n = await CoachDB.UpdateAsync(coach);
        if (n > 0)
        {
            await js.InvokeVoidAsync("alert", $"Updated Successfully!");
            await MySession.SetAsync("Coach", coach);
            var name = await MySession.GetAsync<Coach>("Coach");
            if (name.Success)
            {
                coach = name.Value;
                StateHasChanged();
            }
        }
        else
        {
            await js.InvokeVoidAsync("alert", $"Update failed!");
        }
    }
    async Task Logout()
    {
        await MySession.SetAsync("Trainer", null);
        await MySession.SetAsync("Coach", null);
        navigationManager.NavigateTo("");
    }

}
